<!-- BEGIN UP_MORE_BLOCK -->
<button class="btn btn-block btn-sm btn-light text-center feed-next-page-button {HIDDEN}" data-location="{LOCATION}" data-class="{CLASS}" data-params="{PARAMS}" data-start="{START}"><i class="fas fa-angle-up"></i> {"See more"}...</button>
<!-- END UP_MORE_BLOCK -->
<!-- BEGIN UP_MORE_AUTO_BLOCK -->
<p class="text-center feed-next-page-button feed-next-page-auto {HIDDEN}" data-location="{LOCATION}" data-class="{CLASS}" data-params="{PARAMS}" data-start="{START}"><i class="fas fa-circle-notch fa-spin"></i></p>
<!-- END UP_MORE_AUTO_BLOCK -->
{BODY}
<!-- BEGIN DOWN_MORE_AUTO_BLOCK -->
<p class="text-center feed-next-page-button feed-next-page-auto {HIDDEN}" data-location="{LOCATION}" data-class="{CLASS}" data-params="{PARAMS}" data-start="{START}"><i class="fas fa-circle-notch fa-spin"></i></p>
<!-- END DOWN_MORE_AUTO_BLOCK -->
<!-- BEGIN DOWN_MORE_BLOCK -->
<button class="btn btn-block btn-sm btn-light text-center feed-next-page-button {HIDDEN}" data-location="{LOCATION}" data-class="{CLASS}" data-params="{PARAMS}" data-start="{START}"><i class="fas fa-angle-down"></i> {"See more"}...</button>
<!-- END DOWN_MORE_BLOCK -->