<!-- BEGIN UP_MORE_BLOCK -->
<button class="btn btn-block btn-sm btn-light text-center feed-next-page-button {HIDDEN}" data-location="{LOCATION}" data-class="{CLASS}" data-params="{PARAMS}" data-start="{START}">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
	</svg>
	{"See more"}...
</button>
<!-- END UP_MORE_BLOCK -->
<!-- BEGIN UP_MORE_AUTO_BLOCK -->
<div class="text-center feed-next-page-button feed-next-page-auto {HIDDEN}" data-location="{LOCATION}" data-class="{CLASS}" data-params="{PARAMS}" data-start="{START}">
	<div class="spinner-border m-2" role="status">
		<span class="visually-hidden">{"Loading"}...</span>
	</div>
</div>
<!-- END UP_MORE_AUTO_BLOCK -->
{BODY}
<!-- BEGIN DOWN_MORE_AUTO_BLOCK -->
<div class="text-center feed-next-page-button feed-next-page-auto {HIDDEN}" data-location="{LOCATION}" data-class="{CLASS}" data-params="{PARAMS}" data-start="{START}">
	<div class="spinner-border m-2" role="status">
		<span class="visually-hidden">{"Loading"}...</span>
	</div>
</div>
<!-- END DOWN_MORE_AUTO_BLOCK -->
<!-- BEGIN DOWN_MORE_BLOCK -->
<button class="btn btn-block btn-sm btn-light text-center feed-next-page-button {HIDDEN}" data-location="{LOCATION}" data-class="{CLASS}" data-params="{PARAMS}" data-start="{START}">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
	</svg>
	{"See more"}...
</button>
<!-- END DOWN_MORE_BLOCK -->