<template id="flash-message-modal-template">
	<div class="modal fade" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header border-bottom-0">
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer border-top-0">
					<button type="button" class="btn w-100" data-bs-dismiss="modal">{"OK"}</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template id="flash-message-alert-template">
	<div class="alert alert-dismissible flash-message" role="alert" aria-live="assertive" aria-atomic="true">
		<button type="button" class="btn-close" onclick="this.parentElement.classList.remove('in')"></button>
		<span class="h4 alert-heading"></span>
		<p class="mb-0"></p>
	</div>
</template>

<div id="flash-message-container"></div>