<div class="row">
	<div class="col-md-6">
		<div class="input-group mb-1">
			<input class="form-control share-url" type="text" value="{URL}" onmouseup="this.select()" readonly="readonly" />
			<button title="{'Copy'}" data-bs-title="{'Copy'}" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="auto" data-success="{'Copied'}" class="btn btn-secondary copy-url" type="button"><span class="fas fa-clone fa-fw"></span></button>
		</div>
	</div>
	<div class="col-md-6">
		<p class="text-center text-md-start">
			<a class="btn btn-facebook popup" href="https://www.facebook.com/sharer/sharer.php?u=" data-url="{URL}" data-width="650" data-height="630" data-placement="bottom" data-container="body" data-trigger="hover" title="{'Share on Facebook'}" data-title="{'Share on Facebook'}"><span class="fab fa-facebook-f fa-lg fa-fw"></span></a>
			<a class="btn btn-twitter popup" href="https://twitter.com/share?url=" data-url="{URL}" data-width="650" data-height="255" data-placement="bottom" data-container="body" data-trigger="hover" title="{'Share on Twitter'}" data-title="{'Share on Twitter'}"><span class="fab fa-twitter fa-lg fa-fw"></span></a>
		</p>
	</div>
</div>