<div class="row">
	<div class="col-md-6">
		<div class="input-group mb-1">
			<input class="form-control share-url" type="text" value="{URL}" onmouseup="this.select()" readonly="readonly" />
			<button title="{'Copy'}" data-bs-title="{'Copy'}" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="auto" data-success="{'Copied'}" class="btn btn-secondary copy-url" type="button">
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" style="width:1em; height:1em; display:flex; align-items:center;">
					<path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
				</svg>
			</button>
		</div>
	</div>
	<div class="col-md-6">
		<p class="text-center text-md-start">
			<a class="btn btn-facebook popup" href="https://www.facebook.com/sharer/sharer.php?u=" data-url="{URL}" data-width="650" data-height="630" data-placement="bottom" data-container="body" data-trigger="hover" title="{'Share on Facebook'}" data-bs-title="{'Share on Facebook'}"><span class="fab fa-facebook-f fa-lg fa-fw"></span></a>
			<a class="btn btn-twitter popup" href="https://twitter.com/share?url=" data-url="{URL}" data-width="650" data-height="255" data-placement="bottom" data-container="body" data-trigger="hover" title="{'Share on Twitter'}" data-bs-title="{'Share on Twitter'}"><span class="fab fa-twitter fa-lg fa-fw"></span></a>
		</p>
	</div>
</div>