<div class="row">
	<div class="col-md-6">
		<div class="input-group mb-1">
			<input class="form-control share-url" type="text" value="{URL}" onmouseup="this.select()" readonly="readonly" />
			<button title="{'Copy'}" data-bs-title="{'Copy'}" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="auto" data-success="{'Copied'}" class="btn btn-secondary copy-url" type="button">
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" style="width:1em; height:1em; display:flex; align-items:center;">
					<path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
				</svg>
			</button>
		</div>
	</div>
	<div class="col-md-6">
		<p class="text-center text-md-start">
			<a class="btn btn-facebook popup" href="https://www.facebook.com/sharer/sharer.php?u=" data-url="{URL}" data-width="650" data-height="630" data-placement="bottom" data-container="body" data-trigger="hover" title="{'Share on Facebook'}" data-bs-title="{'Share on Facebook'}">
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" style="width:1em; height:1em; vertical-align: -.125em;">
					<path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
				</svg>
			</a>
			<a class="btn btn-twitter popup" href="https://twitter.com/share?url=" data-url="{URL}" data-width="650" data-height="255" data-placement="bottom" data-container="body" data-trigger="hover" title="{'Share on X'}" data-bs-title="{'Share on X'}">
				<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16" style="width:1em; height:1em; vertical-align: -.125em;">
					<path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
				</svg>
			</a>
		</p>
	</div>
</div>