<div class="accordion" id="accordion">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button {COLLAPSED_SIGNIN}" data-bs-toggle="collapse" data-bs-target="#signin">
				{"Sign In"}
			</button>
		</h2>
		<div id="signin" class="accordion-collapse collapse {IN_SIGNIN}" data-bs-parent="#accordion">
			<div class="accordion-body">
				{SIGN_IN_FORM}
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button {COLLAPSED_FORGET}" data-bs-toggle="collapse" data-bs-target="#forget">
				{"Forget password"}
			</button>
		</h2>
		<div id="forget" class="accordion-collapse collapse {IN_FORGET}" data-bs-parent="#accordion">
			<div class="accordion-body">
				{FORGET_PASSWORD_FORM}
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button {COLLAPSED_SIGNUP}" data-bs-toggle="collapse" data-bs-target="#signup">
				{"Sign Up"}
			</button>
		</h2>
		<div id="signup" class="accordion-collapse collapse {IN_SIGNUP}" data-bs-parent="#accordion">
			<div class="accordion-body">
				{SIGN_UP_FORM}
				<small>{"By signing up you accept our"} <a href="{USE_URL}" target="_blank">{"Conditions of use"}</a></small>
			</div>
		</div>
	</div>
</div>