<div class="modal fade" id="{ID}" tabindex="-1" role="dialog">
	<div class="modal-dialog {SIZE/}" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<!-- BEGIN TITLE_BLOCK -->
				<h4 class="modal-title">{TITLE}</h4>
				<!-- END TITLE_BLOCK -->
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{BODY}
			</div>
			<!-- BEGIN FOOTER_BLOCK -->
			<div class="modal-footer">
				{FOOTER}
			</div>
			<!-- END FOOTER_BLOCK -->
		</div>
	</div>
</div>